@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import controllers.routes._

@(appConfig: FrontendAppConfig, inviteeName: String, schemeName: String)(implicit request: Request[_], messages: Messages)

@main_template(
title = messages("messages__invitationSuccess__title"),
appConfig = appConfig,
bodyClasses = None
) {

    <div class="govuk-box-highlight">
        @components.heading(Messages("messages__invitationDuplicate__heading", inviteeName))
    </div>

    <p id="schemeName">@Messages("messages__invitationDuplicate__schemeName", schemeName)</p>

    <p id="inviteInformation">@Messages("messages__invitationDuplicate__inviteInformation")</p>

}
