.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 0 15px;

  &::after {
    content: none;
  }
}

.card {
  border: 1px solid $panel-colour;
  font-size: 16px;

  &.inactive {
    color: $secondary-text-colour;
  }

  .card-heading {
    margin-top: 0;
  }

  .card-body {
    border-bottom: 1px solid $panel-colour;
    padding: 12px;
    background-color: #f0f0f0;

    @media screen and (min-width: 641px) {
      min-height: 83px;
    }

    *:last-child {
      margin-bottom: 0;
    }

    &.active {
      background-color: $grey-4;
      transition: .1s ease-in-out;

      .card-heading a {
        color: $link-colour;
        margin-top: 0;
      }
    }

    .card-sub-heading span {
      display: block;
      color: $govuk-secondary-text-colour;

      .font-large.bold {
        color: $black;
      }
    }

    .card-sub-heading span.govuk-tag--red {
       color: #942514 !important;
    }

    .card-sub-heading span.font-small.bold {
       color: $black;
     }

    .detail {
      font-weight: 600;
      margin-bottom: 8px;
    }
  }

  .card-action {
    border-top: 0;
    padding: 12px 12px 25px 12px;

    a {
      display: inline;
      border-bottom: 1px solid #c7dceb;
      text-decoration: none;
      line-height: 1.5em;

      &:link,
      &:visited {
        color: $link-colour;
      }

      &:focus {
        color: $black;
      }

      &:hover {
        text-decoration: none;
        border-bottom: 1px solid $link-colour;
        color: #003078;
      }
    }

    ul {
      margin: 0;

      li {
        margin: 0 0 1em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.js-enabled {
  .card-body {
    a {
      text-decoration: none;
    }
  }
}
