//Grid system
.column-one-sixth {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .column-one-sixth {
    float: left;
    width: 16.66667%;
    padding: 0 15px;
  }

}
  .padding-zero {
  padding: 0 !important;
  }

.column-two-sixths {
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .column-two-sixths {
    float: left;
    width: 33.33333%;
    padding: 0 15px;
  }
}

.column-one-fourth {
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .column-one-fourth {
    float: left;
    width: 25%;
    padding: 0 15px;
  }
}

.row-group {
  border-bottom: 1px solid #bfc1c3;
  padding-top:0.75em;
  padding-bottom:0.5em;
  display:block;
}

.row-group:after {
  content:"";
  display:block;
  clear:both;
}

@media (max-width: 640px) {
  .row-group p {
    margin-bottom: 0.5em;
  }
}

.table-header {
  display: none;

  @media (min-width: 641px) {
    display: block;
  }
}

@media (min-width: 641px) {
  .table-column {
    border: 1px solid transparent;
  }

  .row-group {
    padding-bottom:0;
  }
}

.table-column {
  [data-title]::before {
    content: attr(data-title);
    float: left;
    font-weight: 700;

    @media (min-width: 641px) {
      content: none;
    }
  }
}

//statuses
p.status { margin-bottom: 0;}

.status span {
  border: 1px solid;
  border-radius: 3px;
  display: block;
  font-size: 0.7em;
  font-weight: 700;
  padding: 0 10px;
  position: relative;
  top: -1px;
  text-align: center;
  width: 80px;
  margin-right: 20px;
  line-height: initial;
}

.not-started {
  text-transform: uppercase;
  border-color: #6f777b;
  color: #6f777b;
  background-color: white;
}

.incomplete {
  text-transform: uppercase;
  border-color: #f47738;
  color: #f47738;
  background-color: white;
}

.complete {
  text-transform: uppercase;
  border-color: #85994b;
  color: #85994b;
}

.rejected {
  text-transform: uppercase;
  border-color: #B10E1E;
  color: #B10E1E;
}

//responsive table css

.hmrc-responsive-table tbody tr{
    display: block;

}

.hmrc-responsive-table tbody tr td {
    display: block;
    display: flex;
    justify-content: space-between;
    min-width: 1px;
    text-align: right;

}

.hmrc-responsive-table thead {

    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

}

.hmrc-responsive-table__heading {

    display: block;
    font-weight: 700;
    padding-right: 1em;
    text-align: left;
}

.govuk-table__header, .govuk-table__cell {

    padding: 10px 20px 10px 0;
    border-bottom: 1px solid #b1b4b6;
    text-align: left;
    vertical-align: top;

}

.govuk-table {

    font-family: "GDS Transport", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    border-spacing: 0;
    border-collapse: collapse;

}

table, input, .ctc-format-ref {

    font-variant-numeric: lining-nums tabular-nums;

}

table td:last-child, table th:last-child {
    padding-right: 20px;
}

@media only screen and (max-width: 999px) {

    td.empty-mobile:nth-child(1), td.empty-mobile:nth-child(4), td.empty-mobile:nth-child(5) {
      display:none;
    }

    tr.member-details{

        background-color: #fff;
        box-shadow: 0 4px 0 0 #d8dde0;
        padding: 0 0 0.5em 0.5em;
        margin-bottom: 1.5em

    }

    tr.member-details > td:nth-child(5) {
        border-bottom: 0px;
    }
    table td:last-child, table th:last-child {
        border-bottom: 0px;
    }
}

@media only screen and (min-width: 1000px) {
    .hmrc-responsive-table tbody tr  {
        display: table-row;
    }

    .hmrc-responsive-table thead {

      clip: auto;
        -webkit-clip-path: none;
        clip-path: none;
        display: table-header-group;
        height: auto;
        overflow: auto;
        position: relative;
        width: auto;
    }
    .hmrc-responsive-table tbody tr td {

        display: table-cell;
        text-align: left;

    }

    .hmrc-responsive-table__heading {

        display: none;

    }
    .column-two-thirds > table:nth-child(2) > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(1) {
        padding-right: 80px;
    }
}



.dl--label-value dd{
  font-weight: 400;
}
@media (max-width: 640px) {
.dl--label-value dt, .dl--label-value dd{
  width: 100%
}
.dl--label-value dd{
  text-align: left;
}
#remove-link{
  font-size: 16px;
}

}


