/*
====================================
Specific styles from GOV.UK Design
System that aren't yet in our service
====================================
*/
.govuk-margin-top-5 {
    margin-top: 25px; /* See https://design-system.service.gov.uk/styles/spacing for full implementation */
}
