@import "lib/govuk-frontend/dist/govuk/base";
@import 'partials/_variables';
@import 'partials/_card';
@import 'location-autocomplete.min';

.govuk-summary-list {
  &.govuk-check-your-answers{
    margin-bottom: 0;
    &:last-of-type {
      margin-bottom: 1.75em;
    }
  }
}

.govuk-form-group {
  .govuk-fieldset {
    .govuk-fieldset__legend {
      &.govuk-visually-hidden {
        white-space: normal !important;
      }
    }
  }
}

.govuk-word-wrap {
    word-break: break-word;
    overflow-wrap: break-word;
}

[role="region"][aria-labelledby] {
  overflow: auto;
}
