@import 'partials/_variables';
@import 'partials/_base';

@import 'partials/_forms';
@import 'partials/_tabular-data';
@import 'partials/_typography';

@import 'partials/_utilities';

@import 'partials/_shame';
@import 'partials/_card';
@import 'partials/_flexbox';

@import 'partials/page-heading';
@import 'partials/scheme__list';

@import 'location-autocomplete.min';

@import 'partials/_spacing';

// import these files last, in this order
@import 'partials/_palette';
@import 'partials/_focus';

nav span.nav-item {
  display: inline-block;
  padding-right: 2rem;
}

@media (max-width: 640px) {
  nav span.nav-item:first-child {
    padding: 0 0.5rem 0 0;
  }

  nav span.nav-item {
    padding: 0 0.5rem;
  }

  nav span.nav-item:last-child {
    padding: 0 0 0 0.5rem;
  }
}

.govuk-box-highlight {
  background: #00703c;
}

nav span.nav-item a[aria-current="page"] {
  border-bottom: 0.4rem solid black;
}

nav span.nav-item a[aria-current="page"]:focus {
  border-bottom: 0;
}

.multiple-choice .form-hint{
clear: both;
padding-left: 12px;
}

/*
====================================
Fix to render radio buttons visible in IE8
====================================
*/
@media \0screen\,screen\9 {
    .multiple-choice input {filter: none}
}

/*
====================================
Fix to remove some of the urls visible in print/pdfs
====================================
*/
@media print { a[href]::after { content: none !important; }

 header nav ul , #global-header .header-proposition a.menu {
  display: none !important;
 }
 
 }