@import 'partials/_variables';
@import 'partials/_base';

@import 'partials/_forms';
@import 'partials/_tabular-data';
@import 'partials/_typography';

@import 'partials/_utilities';

@import 'partials/_shame';
@import 'partials/_card';
@import 'partials/_flexbox';

@import 'partials/page-heading';
@import 'partials/scheme__list';

@import 'location-autocomplete.min';

@import 'partials/_spacing';

// import these files last, in this order
@import 'partials/_palette';
@import 'partials/_focus';

nav span.nav-item {
  display: inline-block;
  padding: 0.2rem;
}

nav span.nav-item a[aria-current="page"] {
  border-bottom: 0.4rem solid black;
}

nav span.nav-item a[aria-current="page"]:focus {
  border-bottom: 0;
}